In [1]:
import numpy as np
import pandas as pd

In [2]:
newest = 2018

In [3]:
ba18 = pd.read_csv('./data/precio-de-terrenos-2018.csv')
ba17 = pd.read_csv('./data/precio-de-terrenos-2017.csv', delimiter=';')
ba16 = pd.read_csv('./data/precio-de-terrenos-2016.csv', delimiter=';')
ba15 = pd.read_csv('./data/precio-de-terrenos-2015.csv', delimiter=';')
ba14 = pd.read_csv('./data/precio-de-terrenos-2014.csv', delimiter=';')

dfs = [ba18, ba17, ba16, ba15, ba14]

In [4]:
names = {'lat': 'LAT',
        'long': 'LON',
        'm2total': 'M2',
        'preciousd': 'USD',
        'barrio': 'NEIGHBORHOOD',
        'comuna': 'COMMUNE',
        'X': 'LAT',
        'Y': 'LON', 
        'DOLARES': 'USD', 
        'BARRIO': 'NEIGHBORHOOD',
        'BARRIOS': 'NEIGHBORHOOD',
        'COMUNA': 'COMMUNE'}

In [5]:
for i, df in enumerate(dfs):
    df.rename(columns=names, inplace=True)
    drop_cols = set(df.columns) - set([v for v in names.values()])
    df.drop(columns=list(drop_cols), inplace=True)
    df['YEAR'] = newest - i
    
df = pd.concat(dfs)

In [6]:
fix_neighborhoods = {'MONTSERRAT': 'MONSERRAT', 
                     'NUÃ‘EZ': 'NUÑEZ', 
                     'NU?ÆEZ': 'NUÑEZ'}

df['NEIGHBORHOOD'].replace(fix_neighborhoods, inplace=True)

In [7]:
fix_communes = {'COMUNA 1': 1,
                'COMUNA 2': 1,
                'COMUNA 3': 3,
                'COMUNA 4': 4,
                'COMUNA 5': 5,
                'COMUNA 6': 6,
                'COMUNA 7': 7,
                'COMUNA 8': 8,
                'COMUNA 9': 9,
                'COMUNA 10': 10,
                'COMUNA 11': 11,
                'COMUNA 12': 12,
                'COMUNA 13': 13,
                'COMUNA 14': 14,
                'COMUNA 15': 15}

df['COMMUNE'].replace(fix_communes, inplace=True)

In [8]:
df.dropna(inplace=True)
df.drop_duplicates(subset=['YEAR', 'NEIGHBORHOOD', 'M2', 'USD'], inplace=True)
df.sort_values(by=['YEAR', 'COMMUNE', 'NEIGHBORHOOD', 'USD'], inplace=True)

In [9]:
df['LAT'].replace({' ': np.nan}, inplace=True)
df['LON'].replace({' ': np.nan}, inplace=True)
df['LAT'] = df['LAT'].astype(np.float)
df['LON'] = df['LON'].astype(np.float)
df['COMMUNE'] = df['COMMUNE'].astype(int)

In [10]:
df.dtypes

LAT             float64
LON             float64
M2              float64
USD             float64
NEIGHBORHOOD     object
COMMUNE           int64
YEAR              int64
dtype: object

In [11]:
df.reset_index(inplace=True, drop=True)
df.head(20)

          LAT        LON      M2       USD  NEIGHBORHOOD  COMMUNE  YEAR
0  -58.389511 -34.626804   301.0  145000.0  CONSTITUCION        1  2014
1  -58.389819 -34.625050   230.0  160000.0  CONSTITUCION        1  2014
2  -58.385706 -34.628291   158.0  170000.0  CONSTITUCION        1  2014
3  -58.384291 -34.618484   170.0  195000.0  CONSTITUCION        1  2014
4  -58.387351 -34.624845   286.0  198000.0  CONSTITUCION        1  2014
5  -58.387370 -34.626171   374.0  220000.0  CONSTITUCION        1  2014
6  -58.387351 -34.624845   370.0  230000.0  CONSTITUCION        1  2014
7  -58.378660 -34.619597   135.0  280000.0  CONSTITUCION        1  2014
8  -58.387424 -34.618653   329.0  310000.0  CONSTITUCION        1  2014
9  -58.385997 -34.619849   350.0  320000.0  CONSTITUCION        1  2014
10 -58.384156 -34.632375   410.0  368000.0  CONSTITUCION        1  2014
11 -58.389003 -34.620035   288.0  380000.0  CONSTITUCION        1  2014
12 -58.377082 -34.623490  1160.0  380000.0  CONSTITUCION        1  2014
13 -58.385871 -34.618549   344.0  390000.0  CONSTITUCION        1  2014
14 -58.385814 -34.623266   320.0  400000.0  CONSTITUCION        1  2014
15 -58.384372 -34.622178   300.0  400000.0  CONSTITUCION        1  2014
16 -58.390175 -34.620000   515.0  420000.0  CONSTITUCION        1  2014
17 -58.390175 -34.620000   485.0  450000.0  CONSTITUCION        1  2014
18 -58.390937 -34.629192   268.0  485000.0  CONSTITUCION        1  2014
19 -58.384291 -34.618484   342.0  500000.0  CONSTITUCION        1  2014

In [12]:
df.to_csv('ba_lands_2014-2018.csv', index=False)